:root {
    --fuentePrincipal: 'Staatliches', cursive;
    --primario: #9C27B0;
    --primariooSCURO: #89119D;
    --secundario: #FFCE00;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--primario);
    line-height: 2;
    font-size: 2rem;
}

body.footer-fijo {
    display: flex;
    /* colocamos flex-direction:column, para evitar que se deforme toda la estructura */
    flex-direction: column;
    min-height: 100vh;
}

body.footer-fijo main {
    /* Con flex: 1, agrandamos el main hasta donde pueda, para que el footer se mantenga en la parte inferior */
    flex: 1;
}

h1 {
    color: var(--secundario);
    text-align: center;
    font-size: 4rem;
    font-family: var(--fuentePrincipal);
    margin: 0;
}

p {
    font-size: 1.8rem;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.contenedor {
    /*ancho inicial parra dispositivos moviles*/
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
}


/* Aplicar siempre las imagenes responsivas en todo proyecto */

img {
    max-width: 100%;
}

.header {
    display: grid;
    justify-content: center;
    padding: 3rem;
}

.barra {
    background-color: var(--primariooSCURO);
    padding: 1rem 0;
}

.barra .nav {
    display: grid;
    /*Asigna 2 columnas de 200px cada en la misma fila*/
    /*En vez de 200px se puede utilizar 'auto', pero el ancho de la columna
    se ajustará automáticamente al contenido*/
    grid-template-columns: repeat(2, 200px);
    /*Separación entre columnas*/
    grid-column-gap: 1rem;
    /*centramos las columnas*/
    justify-content: center;
}

.barra .nav a {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    /*Se utiliza para que se centre dentro de la columna especificada*/
}

.barra .nav a:hover {
    color: var(--secundario);
}

.lista-productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    ;
}

@media (min-width: 768px) {
    .lista-productos {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    background-color: var(--primariooSCURO);
}

.contenido-producto {
    font-family: var(--fuentePrincipal);
    color: #ffffff;
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.contenido-producto .titulo {
    font-size: 4rem;
}

.contenido-producto .precio {
    font-size: 2.8rem;
    color: var(--secundario);
}

.grafico {
    min-height: 30rem;
    grid-column: 1 / 3;
    background-size: cover;
    background-position: center center;
}

.grafico-1 {
    background-image: url(../img/grafico1.jpg);
    grid-row: 2 / 3;
}

.grafico-2 {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
    .grafico-2 {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }
}

.contenedor-informacion {
    display: grid;
    /* Se utiliza autofit, con un valor máximo y un valor minimo para evitar el uso de media queries y que sea responsive */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 2rem;
}

.imagen-producto {
    width: 100%;
}

.footer {
    background-color: var(--primariooSCURO);
    padding: 1rem 0;
    margin-top: 2rem;
}

.copyright {
    font-family: var(--fuentePrincipal);
    color: #ffffff;
    text-align: center;
}

.formulario-pedido {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 6rem);
    grid-gap: 1rem;
    /*grid-gap se utiliza para el espaciado en filas y columnas al mismo tiempo*/
}

.campo {
    background-color: transparent;
    border: 5px solid white;
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    padding: 1rem;
    width: 100%;
    color: #ffffff;
}

.talla {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    grid-column: 1 / 3;
}

.boton {
    background-color: var(--secundario);
    font-size: 2rem;
    font-family: var(--fuentePrincipal);
    border: none;
    transition: background-color .3s ease;
    grid-column: 1 / 4;
}

.boton:hover {
    cursor: pointer;
    background-color: rgb(233, 187, 2);
}